
* {
	outline: none !important;
}
.form-control:focus {
	box-shadow: none !important;
}
.words-page {


}
.words-page .detail-words .element-word {

}
.words-page .detail-words .element-word #name-element{
	font-size: 25px;

}
.words-page .detail-words .element-word .translation_of_word{
	/*border-top: 8px solid rgba(22, 222, 243, 0.32);*/
	margin-top: 5px;
	padding: 0 10px;
}
.element-word .translation_of_word:hover .dropdown-translation i{
	opacity: 1;
}
.element-word .translation_of_word #element-translation {
	position: relative;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 40px;
}
.element-word .translation_of_word #element-translation .dropdown-translation {
	position: absolute;
	right: -14px;
	top: 15px;
}
.dropdown-translation i {
	color: black;
	opacity: 0;
	font-size: 12px;
}
.dropdown-translation .dropdown-toggle::after {
	display: none;
}
.element-word .translation_of_word #element-translation p {
	color: #5f6368;
	font-size: 15px;
}
.element-word .translation_of_word #element-translation #stt-element {
	position: absolute;
	left: 0;
	top: 20px;
	border: 1px solid #ccc;
	border-radius: 100%;
	color: #3e2d2d;
	font-size: 13px;
	display: flex;
	width: 25px;
	height: 25px;
	padding: 0;
	justify-content: center;
	align-items: center;
}
.element-word .translation_of_word #element-translation #name-element-translation {
	font-size: 20px;
	margin-bottom: 3px;
}
.word_type {
	display: block;
	padding: 3px 10px;
	font-size: 20px;
	text-transform: capitalize;
}
.word_type i {
	font-size: 15px;
	text-transform: initial;
}
.words-main {
	padding-top: 20px;
}
.words-main #title-words-main {
	font-size: 25px;
	margin-bottom: 20px;
}
.words-list {

}
.word-item {
	background: #ffff;
	font-size: 20px;
	border-radius: 3px;
	padding: 2px 5px;
	display: inline-block;
	margin: 0 10px 10px 0;
	cursor: pointer;
	color: black;
	box-shadow: 0px 0px 5px;
}
.active-word-item {
	background: #ccc;
}
.words-page .sidebar {
	height: 100%;
	background: #f8f9fa;
	/*padding: 10px;*/
	position: sticky;
	top: 0;
}

.word-add {
	width: 100%;
}
.word-add .sidebar-add-word {
	height: 100%;
	background: #f8f9fa;
	/* padding: 10px; */
	position: sticky;
	top: 0;
	width: 100%;
	overflow: auto;
}
.sidebar-add-word::-webkit-scrollbar
{
	width: 7px;
	background-color: #ccc;
}
.sidebar-add-word::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #41331c;
}
.sidebar-add-word .head-side {
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 10px;
	background: #ccc;
	padding: 7px 10px;
}
.sidebar-add-word .word-added {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	padding: 10px;
}
.word-added h2 {
	font-size: 22px;
}
.word-added h2 span {
	font-size: 15px;
	font-weight: normal;
}
.word-add .sentence {
	padding: 0px 10px;
	font-size: 14px;
	background: rgba(204, 204, 204, 0.18);
	user-select: auto;
	margin-top: 15px;
}
.word-add .types {
	display: flex;
}
.word-add .card {
	background: #ffffff38;
}
.word-add .type {
	cursor: pointer;
	margin-right: 10px;
	user-select: auto;
	background: #ccc;
	padding: 2px 5px;
	border-radius: 5px;
}
.word-add .type label {
	margin: 0;
}

.word-add .translation_type {
	display: flex;
}
.word-add .translation_type .set_type{
	width: 44px;
	margin-left: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #eee;
}
.input_word_panel {
	position: relative;
}
.input_word_panel #word_english {
	font-size: 30px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid;
	background: transparent;
	padding-left: 0;
}
.list-input-translation .translation_vn {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid;
	background: transparent;
	padding-left: 0;
}
.list-input-translation {
	background: #eee;
	padding: 10px;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 3px #ccc;
	border-radius: 3px;
}
.list-input-translation .input-translation {
	margin-bottom: 20px;
}
.input-translation .remove_input_translation {
	border: 1px solid #ccc;
	margin-left: 5px;
	border-radius: 3px;
	width: 40px;
}
.categories {
	margin-bottom: 1rem;
	background: #eee;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #ccc;
}
.cursor-element {
	cursor: pointer;
	color: black;
}
.btn-addword {
	background: #41331c;
	color: #fff;
	border: 1px solid #41331c;
}
.form-add-word {
	overflow: auto;
}
.form-add-word::-webkit-scrollbar {
	width: 3px;
	background: transparent;
}

/*.form-add-word::-webkit-scrollbar-thumb*/
/*{*/
/*	border-radius: 10px;*/
/*	background-color: #41331c;*/
/*}*/
.form-add-source {
	display: none;
	position: relative;
}
.form-add-source input:focus {
	background: transparent !important;
}
.form-add-source input {
	background: transparent;
	border: none;
	border-bottom: 1px solid;
	border-radius: 0;
	padding-left: 0;
}
.remove-form-add-source {
	position: absolute;
	right: 0;
	top: 14px;
	border: none;

}
.word_exist_panel {
	display: none;
	position: absolute;
	top: 35px;
	left: 0px;
	background: #f9f8f8;
	width: 100%;
	z-index: 1;
	border-radius: 0px 0px 10px 10px;
	border: 1px solid rgb(204, 204, 204);
	user-select: auto;
	padding: 5px 0;
}
.show_exist_panel {
	display: block !important;
}
.show_exist_panel .search-family {
	border-bottom: 1px solid #ccc;
	padding: 10px 10px;
	position: relative;
	cursor: pointer;
}
.show_exist_panel .search-family:hover {
	background: #ccc;
}
.show_exist_panel .search-family:last-child {
	border-bottom: none;
}
.show_exist_panel .active-search-family {
	background: #ccc;
}
.show_exist_panel .active-search-family:after {
	content: '\f00c';
	font-family: FontAwesome;
	position: absolute;
	right: 6px;
	top: 0px;
}
.img_loading {
	position: absolute;
	right: 8px;
	top: 11px;
	width: 17px;
}
.exist-item{
	border-bottom: 1px solid #ccc;
}
.exist-item:last-child {
	border-bottom: none;
}
.exist-item h1 {
	font-size: 17px;
}
.exist-item h1 span {
	font-size: 13px;
	font-weight: normal;
}
.exist-item p {
	font-size: 13px;
}


